@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.search_bar_container {
  width: 70%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_bar {
  width: 100%;
  height: 75px;
  background-color: #283040;
  outline: none;
  border: 1px solid #FEFAF8;
  border-radius: 16px;
  outline: 0;
  color: #FEFAF8;
  padding-left: 24px;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;  
}

.search_bar:hover, .search_bar:focus {
  border: 1px solid #EE8191;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #54758B;
  opacity: 1; /* Firefox */
  font-size: 20px;
  position: relative;
  font-family: 'Roboto Mono', monospace;  
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #54758B;
  font-size: 20px;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #54758B;
  font-size: 20px;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

.search_results {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: 240px;
  overflow-y: scroll;
  background-color: #283040;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.search_results::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.search_results::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.search_results::-webkit-scrollbar-track {
  background: transparent;
}