.search_result {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px black;
}

.search_result:hover {
  background-color: #EE8191;
  cursor: pointer;
}

.search_result_artist {
  margin: 0;
  padding: 0;
  text-align: end;
}

.search_result_title {
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.search_result_img {
  width: 52px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}


.search_result_right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-right: 20px;
}

@media (width <= 700px) {
  .search_result_right_side {
    margin-left: 10px;
    gap: 6px;
    align-items: center;
  }
  
  .search_result_title {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .search_result_artist {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  
  .search_result_img {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}