.examples {
  width: 100%;
  margin: auto;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.examples_inner {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.examples_header {
  color: #54758B;
  font-size: 24px;
}

.examples_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  column-gap: 20%;
  row-gap: 50%;
}

.examples_grid_small_screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  column-gap: 20%;
  row-gap: 50%;
}

@media (width <= 950px) {
  .examples {
    margin-top: 65px;
  }
  .examples_inner {
    gap: 20px;
  }
}