.recommendations {
  margin-top: 80px;
  width: 100%;
}

.recommendations_title {
    font-weight: bold;
    font-size: 24px;
    color: #54758B;
    width: 70%;
    margin: auto;
}

.recommendations_content {
  width: 70%;
  margin:auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 40px;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.recommendations_content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.recommendations_content::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.recommendations_content::-webkit-scrollbar-track {
  background: transparent;
}