.recommendations {
  margin-top: 30px;
    width: 70%;
}

.recommendations_title {
    font-weight: bold;
    font-size: 24px;
    color: #54758B;
}

.recommendations_content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
    overflow-x: scroll;
    text-align: center;
}