.recommendation {
    border-radius: 16px;
    background-color: #283040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 252px;
    min-height: 380px;
    border: 1px solid transparent;
}

.recommendation_a:link, .recommendation_a:visited, 
.recommendation_a:hover, .recommendation_a:active {
    text-decoration: none;
}

.recommendation:hover, .recommendation:focus {
  border: 1px solid #EE8191;
  cursor: pointer;
}

.recommendation_top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.recommendation_img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.recommendation_title {
    color: #FEFAF8;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.recommendation_artist {
    color: #54758B;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 950px) {
  .recommendation {
    min-width: 140px;
    min-height: 270px;
  }

  .recommendation_img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
  }

  .recommendation_title {
    font-size: 14px;
  }
  .recommendation_artist {
    font-size: 14px;
  }
}